body{
    background-color: #223a70;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    background-color: rgb(31, 31, 31);
  }
  
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
  }
  
  * {
    margin:0; padding:0;
  }
  header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
  }
  header .headline{
      line-height: 100px;
      float: left;
      font-size: 30px;
      margin-left: 100px;
  }
  .nav-list {
      line-height: 100px;
      float: left;
      margin-left: 30px;
      list-style: none;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }